<h1 class="subtitle">Back in Stock Reminder</h1>

<p class="description">Be the first to know when your favourite Nude Leather Crystal Strap Flat Mules are back in stock.</p>

<form>
    <div class="form-group">
        <label for="email"> Email: </label>
        <input type="text" class="form-control" id="email"><br>
        <p class="green">{{ success }}</p> 
        <button type="button" class="btn btn-lg btn-primary" mat-raised-button (click)="onClick()">Notify Me</button>
    </div>

    <br>

</form>

<button type="button" class="btn btn-md btn-default" mat-raised-button (click)="onNoClick()">Back</button>