.discountbanner{
    padding: 15px;
    color:  #fdcf00;
    background-color: #011893;
    text-align: center;
    font-size: 25px;
 }
.pagetitle {
    color: #011893;
    font-size: 30px;
    text-align: left;
}

.mat-divider {
    border-top-color: #fdcf00;
}

.subtitle {
    color: #011893;
    font-size: 23px;
    text-align: left;
}

.sectiontitle {
    color: #011893;
    font-size: 14px;
    text-align: left;
}

.material-icons {
    padding-top: 10px;
    margin-top: -5px;
}

.price {
    font-size: 20px;
    padding-bottom: 15px;
    text-align: left;
    color: #011893;
}
.carousel-control {
    background-image: none;
}
.glyphicon {
    color: #fdcf00;
}

.description {
    text-align: justify;
    padding-right: 20px;
}
.productnumber {
    color: grey;
    padding-top: 10px;
}
.color {
    background-color: rgb(194, 165, 140);
    color: rgb(0, 0, 0);
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 8px;
    padding-right: 12px;
    width: 65px;
}

select {
    width: 50%;
    font-size: 14px;
}

table {
    text-align: center;
    
}

th {
    color: #011893;
}

.btn-primary {
    text-align: center;
    border: 1px solid #011893;
    color: #011893;
    background-color: white !important;
}

.btn-primary:hover {
    border: 1px solid #011893;
    color: white;
    background-color: #011893 !important;
}

.btn-light:hover {
    text-align: center;
    border: 1px solid #011893;
    color: #011893;
    background-color: white !important;
}

.btn-light {
    border: 1px solid #011893;
    color: white;
    background-color: #011893 !important;
}
.green {
    padding-top: 10px;
    color: green;
}

.gallery {
    display: block;
    margin: 25px;
    border: 2px solid #011893;
    float: left;
    width: 250px;
    height: max-content;
}
  
.gallery:hover {
    border: 2px solid #fdcf00;
}

.gallery img {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
 
}

.desc {
    font-size: 16px;
    padding: 25px;
    text-align: center;
}
.price {
    font-size: 14px;
    padding-bottom: 15px;
    text-align: left;
}
.price2 {
    font-size: 14px;
    padding-bottom: 15px;
    text-align: center;
}
.stock {
    color: red;
    padding: none;
    margin: none;
}
label {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-weight: 400;
    color: #011893;
}

input[type=text] {
    border: 1px solid #011893;
    padding: 4px 8px;
    border-radius: 12px; 
    font-size: 15px;
}
input[type=text]:focus{
    box-shadow: 0 0 0 2px #fdcf00;
}