<mat-card class="discountbanner"><p class="font-weight-light">25% OFF EVERYTHING | USE CODE: <b>SAVE25</b> AT CHECKOUT</p></mat-card>

<br>

<div class="container">
    <br><br>
    <h1 class="pagetitle">Princely Crytal Mules</h1>
    <mat-divider></mat-divider>
    <p class="productnumber">Product ID: 24681359</p>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <br>
            <div id="slideshow" class="carousel slide" data-ride="carousel">
          
                <ol class="carousel-indicators">
                    <li data-target="#slideshow" data-slide-to="0" class="active"></li>
                    <li data-target="#slideshow" data-slide-to="1"></li>
                    <li data-target="#slideshow" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img src="assets/images/similarshoe1.png" alt="Princely Crytal Mules 1">
                    </div>

                    <div class="item">
                        <img src="assets/images/shoe5.png" alt="Princely Crytal Mules 2">
                    </div>

                    <div class="item">
                        <img src="assets/images/shoe6.png" alt="Princely Crytal Mules 3">
                    </div>

                    <div class="item">
                        <img src="assets/images/shoe7.png" alt="Princely Crytal Mules 4">
                    </div>
                </div>

                <a class="left carousel-control" href="#slideshow" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#slideshow" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
       
        </div>

        <div class="col-sm-6">
            <br>
            <h1 class="subtitle">Nude Leather Crystal Strap Flat Mules</h1>

            <p class="sectiontitle">Description</p>

            <p class ="description">Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, 
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae 
                vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit 
                aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos 
                qui ratione voluptatem sequi nesciunt. 
            </p>

            <br>
        
            <p class="price"><b>£59.99</b></p>
            <p class="stock"><b>Out of Stock! Coming back soon...</b></p>
            <p class="color">NUDE</p>

            <br>

            <div class="form-group">
                <p class="sectiontitle">Size:</p>
                <select class="form-control" id="size" disabled>
                    <option>UK Size 3</option>
                    <option>UK Size 4</option>
                    <option>UK Size 5</option>
                    <option>UK Size 6</option>
                    <option>UK Size 7</option>
                    <option>UK Size 8</option>
                </select>
            </div>
            <button type="submit" class="btn btn-md btn-primary" disabled>Size Guide</button>
            <br><br><br>
            <button type="submit" class="btn btn-lg btn-light"mat-raised-button (click)="notifyMe()">Notify Me</button>
              
        </div>
    </div>
    <br><br><br><br>
    <div class="container">
        <h1 class="pagetitle">Customers who bought this shoe also bought...</h1>
        <mat-divider></mat-divider>
        <div class="gallery">
            <a routerLink="/shoe" routerLinkActive="active"><img src="assets/images/similarshoe4.png" alt="Princely Rainbow" width="700" height="500"></a>
            <div class="desc">Princely Rainbow</div>
            <div class="price2">£69.00</div>
          </div>
        
          <div class="gallery">
            <a href=""><img src="assets/images/similarshoe2.png" alt="Rainbow Flat Sandals" width="700" height="500"></a>
            <div class="desc">Rainbow Flat Sandals</div>
            <div class="price2">£29.00</div>
          </div>
        
          <div class="gallery">
            <a href=""><img src="assets/images/similarshoe3.png" alt="Rachel Embellished Sliders" width="700" height="500"></a>
            <div class="desc">Rachel Embellished Sliders</div>
            <div class="price2">£47.00</div>
          </div>
        
    </div>
</div>

