.pagetitle {
    color: #011893;
    font-size: 40px;
    text-align: center;
}

.mat-divider {
    border-top-color: #fdcf00;
}

.emphasis {
    margin: 0 auto;
    font-size: 18px;
    color: #011893;
}

button {
    margin:auto;
    display:block;
}

.btn-primary {
    text-align: center;
    border: 1px solid #011893;
    color: #011893;
    background-color: white !important;
}

.btn-primary:hover {
    border: 1px solid #011893;
    color: white;
    background-color: #011893 !important;
}
.container {
    width: auto;
    margin: 0 auto;
}
th {
    color: #011893;
}

.row {
    margin: auto;
    width: 100%;
    padding-left: 10px;
}
.text {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    color: #011893;
}
.gallery {
    margin: auto;
    width: auto;
    margin: 45px;
    border: 2px solid #011893;
    float: left;
    width: 230px;
    height: max-content;
}
  
.gallery:hover {
    border: 2px solid #fdcf00;
}

.gallery img {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
 
}

.desc {
    font-size: 16px;
    padding: 25px;
    text-align: center;
}
.price {
    font-size: 14px;
    padding-bottom: 15px;
    text-align: left;
}
.price2 {
    font-size: 14px;
    padding-bottom: 15px;
    text-align: center;
}
form{
    width: 100%;
}
label {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-weight: 400;
    color: #011893;
}

input[type=text] {
    border: 1px solid #011893;
    padding: 4px 8px;
    border-radius: 12px; 
    font-size: 15px;
}
input[type=text]:focus{
    box-shadow: 0 0 0 2px #fdcf00;
}

button {
    margin:auto;
    display:block;
}

.mat-card {
    border: 1px solid #011893;
    background-color: #011893;
    color: #fdcf00;;
    font-size: 20px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.green {
    color: green;
    text-align: center;
}
