<div class="container">
    <div class="row">
        <br><br>
        <div class= "headings">
            <h1 class="pagetitle">Shopping Basket</h1>
            <mat-divider></mat-divider><br>

            <div class="basketDetails">
                <div class="row" ng-show="basketStatus()">
                    <div class="row" *ngIf="basketStatus() == true">
                        <div class="row">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore 
                        magnam.<br><br>
                        <p class="text">You have {{ itemsInBasket }} shoes in your basket. Why not shop some of our latest products:</p><br>
                        <div class="row">
                            <div class="gallery">
                                <a routerLink="/shoe" routerLinkActive="active"><img src="assets/images/similarshoe4.png" alt="Princely Rainbow" width="700" height="500"></a>
                                <div class="desc">Princely Rainbow</div>
                                <div class="price2">£69.00</div>
                            </div>
                            
                            <div class="gallery">
                                <a href=""><img src="assets/images/similarshoe2.png" alt="Rainbow Flat Sandals" width="700" height="500"></a>
                                <div class="desc">Rainbow Flat Sandals</div>
                                <div class="price2">£29.00</div>
                            </div>
                            
                            <div class="gallery">
                                <a href=""><img src="assets/images/similarshoe3.png" alt="Rachel Embellished Sliders" width="700" height="500"></a>
                                <div class="desc">Rachel Sliders</div>
                                <div class="price2">£47.00</div>
                            </div>
                        </div>
         
                        </div> 
                    </div>
                    
                    <div class="row" *ngIf="basketStatus() == false">
                        <div class="row">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
                        sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, 
                        adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore 
                        magnam.<br><br>

                        <p class="text">You have {{ itemsInBasket }} shoes in your basket.</p><br><br>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Product Code</th>
                                    <th scope="col">Item</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">12345678</th>
                                    <td>Black Leather Rainbow Embellished Flat Mules<br>
                                        <img src="assets/images/womenshoe1.png" alt="Black Leather Rainbow Embellished Flat Mules" width="100" height="100">
                                    </td>
                                    <td>{{ itemsInBasket }}</td>
                                    <td>£{{ totalPrice }}.00</td>
                                </tr>
                                </tbody>
                            </table>

            
                            <!-- <form>
                                <div class="form-group">

                                <label for="discountCode"> Discount Code: </label>
                                    <input type="text" class="form-control" id="discountCode"><br>
                                    <p class ="green">{{ discount }}</p>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary" (click)="addDiscount()">Verify</button>
                                <br><br><br><br>
                            </form> 
                            
                        </div>
                        <div class ="right" *ngIf="discountStatus() == true"> 
                            <mat-card><p class ="finalprice"><i>Total Price: £{{ finalPrice| number : '1.2-2' }}</i></p></mat-card>
                        </div>
                        <div class="right" *ngIf="discountStatus() == false">
                            <mat-card><p class ="finalprice"><i>Total Price: £{{ finalPrice| number : '1.2-2' }}</i></p></mat-card>
                        </div>  -->
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="discountCode"> Discount Code: </label>
                            <input type="text" class="form-control" id="discountCode"><br>
                            <p class ="green">{{ discount }}</p>
                            <button type="submit" class="btn btn-lg btn-primary" (click)="addDiscount()">Add Discount</button>
                        </div><br>
                            
                        <div class ="right" *ngIf="discountStatus() == true"> 
                            <mat-card><p class ="finalprice"><i>Total Price: £{{ finalPrice| number : '1.2-2' }}</i></p></mat-card>
                        </div>
                        <div class="right" *ngIf="discountStatus() == false">
                            <mat-card><p class ="finalprice"><i>Total Price: £{{ finalPrice| number : '1.2-2' }}</i></p></mat-card>
                        </div>
                        <br>
                    </form>
                    <button type="button" class="btn btn-lg btn-primary">Proceed to Payment</button>
                    <br><br><br><br><br>
                </div>
            
            </div>   
            
            
            
  

            


    </div>
  </div>
</div>