<br>

<h1 class="subtitle">Order Details</h1>

<p class="sectiontitle">Black Leather Rainbow Embellished Flat Mules</p>
<p class="price"><b>£59.99 - Size 3</b></p>

<img src="assets/images/shoe2.png" alt="Black Leather Rainbow Embellished Flat Mules" width="200" height="200">

<form>
    <div class="form-group">
        <br>
        <label for="trackingNumber">Discount Code:</label>
        <input type="text" class="form-control" id="trackingNumber" maxlength="16">
        <p class="green">{{ discount }}</p> 
        <button type="button" class="btn btn-lg btn-primary" mat-raised-button (click)="onClick()">Add Discount</button>
        
    
    </div>

    <br>

    <div class="form-group">
        <p class="sectiontitle">Deliver Options:</p>
        <select class="form-control" id="size">
            <option>Standard Delivery</option>
            <option>Next-Day Delivery</option>
            <option>Same-Day Delivery</option>
            <option>Click and Collect</option>
        </select>
    </div>

    <br>

    <button routerLink="/shoe" routerLinkActive="active" type="submit" class="btn btn-lg btn-light">Proceed</button>

    

</form>