<br>

<h1 class="subtitle">Size Guide</h1>


<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">UK</th>
        <th scope="col">EU</th>
        <th scope="col">INCHES</th>
        <th scope="col">CM</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">3</th>
        <td>36</td>
        <td>8.5</td>
        <td>21.2</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>37</td>
        <td>8.75</td>
        <td>22.1</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>38</td>
        <td>9</td>
        <td>22.8</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>39</td>
        <td>9.25</td>
        <td>23.5</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>40</td>
        <td>9.5</td>
        <td>24.13</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>41</td>
        <td>9.75</td>
        <td>24.77</td>
      </tr>
   
    </tbody>
  </table>

  <button type="button" class="btn btn-md btn-default" mat-raised-button (click)="onNoClick()">Back</button>