.pagetitle {
    color: #011893;
    font-size: 40px;
    text-align: center;
}

.subtitle {
    color: #011893;
    font-size: 25px;
    text-align: center;
}

.mat-card {
    border: 1px solid #011893;
    color: #fdcf00;
    padding-right: 20px;
    padding-left: 20px;
}

.description {
    text-align: justify;
    padding-left: 1px;
    padding-right: 1px;
}

.mat-divider {
    border-top-color: #fdcf00;
}

.emphasis {
    text-align: center;
    font-size: 15px;
    color: #011893;
}
.emphasis-left {
    text-align: left;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 15px;
    color: #011893;
}

label {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-weight: 400;
    color: #011893;
}

input[type=text] {
    border: 1px solid #011893;
    padding: 4px 8px;
    border-radius: 12px; 
    font-size: 15px;
}
input[type=text]:focus{
    box-shadow: 0 0 0 2px #fdcf00;
}

button {
    margin:auto;
    display:block;
}

.btn-primary {
    text-align: center;
    border: 1px solid #011893;
    color: #011893;
    background-color: white !important;
}

.btn-primary:hover {
    border: 1px solid #011893;
    color: white;
    background-color: #011893 !important;
}

.material-icons {
    color: #fdcf00;
    font-size: 60px;
    height: 40px;
    width: 40px;
}

.column {
    padding-left: 70px;
    padding-top: 25px;
    text-align: left;
}

.columntext {
    padding-left: 75px;
    padding-top: 35px;
    text-align: left;

}

.container {
    width: 700px;
    margin: 0 auto;
}

.status-green {
    color: #069401;
    font-size: 60px;
    height: 0px;
    width: 0px;
}

.status-grey {
    color: #d8d6d6;
    font-size: 60px;
    padding-top: 5px;
    height: 0px;
    width: 0px;
}

.small-column {
    padding-left: 70px;
    padding-top: 5px;
    text-align: center;
}


