<div class="container">
    <div class="row">
        <br><br>
        <div class= "headings">
            <h1 class="pagetitle">Delivery Options</h1>
            <mat-divider></mat-divider><br>
            <br>
            <p class ="emphasis">Golden Shoe provide a range of delivery options for timely deliveries:
            </p>
            
            <div class="delivery">
                <mat-tab-group mat-stretch-tabs mat-align-tabs="center">
                    <mat-tab label="Standard Delivery"> 
                        <div class="row">
                            <div class="column"><span class="material-icons">local_shipping</span> </div>
                            <div class="columntext">3 - 5 Working days<br>Delivery is Monday to Saturday</div>
                        </div>
                        <div class="row">
                            <div class="column"><span class="material-icons">sell</span> </div>
                            <div class="columntext">£4.00<br>Spend over £35.00 and get <b>FREE</b> delivery</div>
                        </div>
                    </mat-tab>
                    
                    <mat-tab label="Next-Day Delivery">
                        <div class="row">
                            <div class="column"><span class="material-icons">today</span> </div>
                            <div class="columntext">Delivery between 7am and 10pm<br>Delivery is Monday to Sundays</div>
                        </div>
                        <div class="row">
                            <div class="column"><span class="material-icons">sell</span> </div>
                            <div class="columntext">£5.95<br>Spend over £65.00 and get <b>FREE</b> delivery</div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Same-Day Delivery">
                        <div class="row">
                            <div class="column"><span class="material-icons">hourglass_top</span> </div>
                            <div class="columntext">Delivery between 4pm and 11pm<br>On all orders before 2pm</div>
                        </div>
                        <div class="row">
                            <div class="column"><span class="material-icons">sell</span> </div>
                            <div class="columntext">£8.95</div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Click and Collect">
                        <div class="row">
                            <div class="column"><span class="material-icons">room</span> </div>
                            <div class="columntext">Collection between 9am and 6pm<br>Choose your local collection point</div>
                        </div>
                        <div class="row">
                            <div class="column"><span class="material-icons">sell</span> </div>
                            <div class="columntext">Free delivery</div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
            
        <br><br><br>

        <h1 class="pagetitle">Track your Order</h1>
        <mat-divider></mat-divider><br>
        <mat-card><p class ="emphasis"><i>All returns are free within 28 days of receipt 
            (14 days for items purchased in a sale).</i></p></mat-card>

        <br>
        <p class ="emphasis">Tracking will be available after the order has been dispatched.
        </p>

        <form>
            <div class="form-group">
            <label for="trackingNumber">Tracking Number</label>
            <input type="text" class="form-control" id="trackingNumber" maxlength="16">
            <small id="maxLength" class="form-text text-muted"><i>Tracking number is 16 charecters</i></small>
            </div>
            <div class="form-group">
            <label for="postcode">Postcode</label>
            <input type="text" class="form-control" id="postcode" maxlength="16">
            </div>
            <br>
            <button type="submit" class="btn btn-lg btn-primary" mat-raised-button (click)="openDialog()">Track Order</button>
        </form>

      <br><br><br><br>
    </div>
  </div>
</div>