<p class="subtitle">Order Status</p>
<br>

<p class ="emphasis-left">Delivering to:</p>
<p class ="description">John Doe<br> Lorem Ipsum Street
    <br>Gastor Dei<br>Tor Senarp<br>AB1 2XY
</p>

<br>

<div class="row">
    <div class="iconleft"><span class="material-icons status-green">check_circle_outline</span> </div>
    <div class="small-column"><b>Dispathced</b><br>12/01/2021 18:24:01</div>
</div>

<br>

<div class="row">
    <div class="iconleft"><span class="material-icons status-green">check_circle_outline</span> </div>
    <div class="small-column"><b>In Transit</b><br>13/01/2021 09:48:10</div>
</div>

<br>

<div class="row">
    <div class="iconleft"><span class="material-icons status-green">check_circle_outline</span> </div>
    <div class="small-column"><b>Local Depot</b><br>13/01/2021 23:09:56</div>
</div>

<br>

<div class="row">
    <div class="iconleft"><span class="material-icons status-grey">pending</span> </div>
    <div class="small-column"><b>Out for Delivery</b><br><i>Estimated Time</i><br>14/01/2021 - 16/01/2021</div>
</div>