.pagetitle {
    color: #011893;
    font-size: 40px;
    text-align: center;
}

.subtitle {
    color: #011893;
    font-size: 25px;
    text-align: center;
}

.mat-card {
    border: 1px solid #011893;
    color: #fdcf00;
    padding-right: 20px;
    padding-left: 20px;
}

.description {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}

.mat-divider {
    border-top-color: #fdcf00;
}

.emphasis {
    text-align: center;
    font-size: 15px;
    color: #011893;
}

.gallery {
    margin: 35px;
    border: 2px solid #fdcf00;
    float: left;
    width: 200px;
}
.gallery:hover {
    border: 4px solid #011893;
  }
  
.gallery img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    width: 60%;
    height: auto;
 }
  
.desc {
    padding: 15px;
    text-align: center;
}