<div class="container">
    <div class="row">
        <br><br>
      <div class= "headings">
        <h1 class="pagetitle">Returns</h1>
        <mat-divider></mat-divider><br>
        <mat-card><p class ="emphasis"><i>All returns are free within 28 days of receipt 
            (14 days for items purchased in a sale).</i></p></mat-card>
        <br>
        <p class ="description">Temporibus autem quibusdam et aut officiis 
            debitis aut rerum necessitatibus saepe eveniet ut et voluptates 
            repudiandae sint et molestiae non recusandae. Itaque earum rerum 
            hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus 
            maiores alias consequatur aut perferendis doloribus asperiores 
            repellat.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
            labore et dolore magna aliqua.
        </p>
        <p class ="description">At vero eos et accusamus et iusto odio dignissimos 
            ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti 
            quos dolores et quas molestias excepturi sint occaecati cupiditate non 
            provident, similique sunt in culpa qui officia deserunt mollitia animi, 
            id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. 
          </p>

          <h1 class="subtitle">Steps to Return</h1>

          <div class ="center">
            <div class="gallery">
                <img src="assets/images/return1.png" alt="Form">
                <div class="desc">1. Complete return form in the package</div>
            </div>
            
            <div class="gallery">
                <img src="assets/images/return2.png" alt="GOlden Show on Computer">
                <div class="desc">2. Register return online via account</div>
            </div>
            
            <div class="gallery">
                <img src="assets/images/return3.png" alt="Post Box">
                <div class="desc">3. Send package with the return form</div>
            </div>
            
            <div class="gallery">
                <img src="assets/images/return4.png" alt="Money">
                <div class="desc">4. Money back or voucher in 14 days</div>
            </div>
        </div>
      </div>

      <br><br>

      <div class= "headings">
        <h1 class="pagetitle">Refunds</h1>
        <mat-divider></mat-divider><br>
        <mat-card><p class ="emphasis"><i>Please allow at least 14 days for the refund to be credited back to your bank account.</i></p></mat-card>
        <br>
        <p class ="description">Itaque earum rerum 
            hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus 
            maiores alias consequatur aut perferendis doloribus asperiores 
            repellat.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
            nisi ut aliquip ex ea commodo consequat.
        </p>
        <p class ="description">Nemo enim ipsam voluptatem quia voluptas sit 
            aspernatur aut odit aut fugit, sed quia consequuntur magni dolores 
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, 
            qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
            sed quia non numquam eius modi tempora incidunt ut labore et dolore 
            magnam aliquam quaerat voluptatem.
          </p>
      </div>

      <br><br>

      <div class= "headings">
        <h1 class="pagetitle">Exchanges</h1>
        <mat-divider></mat-divider><br>
        <mat-card><p class ="emphasis"><i>Exchanges are possible for a new pair of shoes or a voucher.</i></p></mat-card>
        <br>

        <p class ="description">Et harum quidem rerum facilis est et expedita 
            distinctio. Nam libero tempore, cum soluta nobis est eligendi optio 
            cumque nihil impedit quo minus id quod maxime placeat facere possimus, 
            omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem 
            quibusdam et aut officiis debitis aut rerum necessitatibus saepe 
            eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
        </p>

        <p class ="description">Ut enim ad minima veniam, quis nostrum exercitationem 
            ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
            Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam 
            nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas 
            nulla pariatur? Itaque earum rerum hic tenetur a sapiente delectus, ut aut 
            reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus 
            asperiores repellat.
          </p>

          <br><br>
      </div>
    </div>
  </div>