  
.navbar a {
    color: #011893;
}
.navbar a:hover {
    color: #F8D849;
    background-color: #011893 !important;
}
.btn {
    color: #F8D849;
    background-color: #011893 !important;
    border: none;
}
.btn:hover {
    color: #F8D849;
    background-color: #011893 !important;
    border: none;
}
.nohover:hover {
    background: none;
    visibility: hidden;
}
.logo {
    padding-top: 8px;
}

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}
footer {
    background-color: #011893;
    color: #fdcf00;
}

footer p:hover {
    color: whitesmoke;
}

.socialmedia {
    font-size: 40px;height:40px;width:40px;
    color: #fdcf00;
}
.socialmedia:hover {
    color: whitesmoke;
}
input[type=search] {
    border: 1px solid #011893;
    padding: 4px 12px;
    margin-left: 12px;
    border-radius: 12px; 
    font-size: 13px;
    color: #011893;
}
input[type=search]:focus{
    box-shadow: 0 0 0 2px #fdcf00;
}

button {
    margin: 10px;
    display: block;
}

.material-icons{
    color: #011893;
    padding-right: 10px;
}


.basketCounter {
    color: #011893;
    padding-top: 12px;
    font-size: 16px;
    display: inline;
}



