<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-header">
    <a class="navbar-brand nohover logo" routerLink="/home" routerLinkActive="active" ><img src="assets/images/gslogo.png" width="90" height="45"></a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav">
      <li><a routerLink="/womens" routerLinkActive="active">Womens</a></li>
      <li><a href="">Mens</a></li>
      <li><a href="">Children</a></li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
      <li><a routerLink="/trackorder" routerLinkActive="active">Delivery & Tracking</a></li>
      <li><a routerLink="/returns" routerLinkActive="active">Returns</a></li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr--2md" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success btn-lg" type="submit">Search</button>
    </form>
    <span class="material-icons"><a routerLink="/basketoverview" routerLinkActive="active">shopping_basket</a></span>
    <p class="basketCounter">{{ basketItems }}</p>
  </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-sm-3">
        <p>About Us</p>
        <p>Newsletter</p>
      </div>
      <div class="col-sm-3">
        <p>Careers</p>
        <p>Gift Cards</p>
      </div>
      <div class="col-sm-3">
        <a href="https://www.facebook.com" class="fa fa-facebook socialmedia"></a>
      </div>
      <div class="col-sm-3">
        <a href="https://twitter.com" class="fa fa-twitter socialmedia"></a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <p>Sustainability</p>
        <p>Diversity</p>
      </div>
      <div class="col-sm-3">
        <p>Klarna</p>
        <p>Accessibility</p>
      </div>
      <div class="col-sm-3">
        <p>Cookie Policy</p>
        <p>Terms & Conditions</p>
      </div>
      <div class="col-sm-3">
        <p>FAQ</p>
        <p>Contact Us</p>
      </div>
    </div>
    <br>
  </div>
</footer> 


