.pagetitle {
    color: #011893;
    font-size: 40px;
    text-align: center;
}

.mat-divider {
    border-top-color: #fdcf00;
}

.subtitle {
    color: #011893;
    font-size: 23px;
    text-align: left;
}

.sectiontitle {
    color: #011893;
    font-size: 18px;
    text-align: left;
}

.mat-chip {
    background-color: #011893;
    color: #fdcf00;
    font-weight: 2;
}
.mat-chip:hover {
    text-decoration: underline;
}

.filter-size {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    columns: 3;
}

.filter-color {
    list-style-type: none;
    margin: 0; 
    padding: 0;
}
.material-icons {
    padding-top: 10px;
    margin-top: -5px;
}

.black {
    color: #000000;
    font-size: 12px;
    padding-right: 20px;
    padding-left: 15px;
}
.white {
    color: black;
    font-size: 12px;
    padding-right: 20px;
    padding-left: 15px;
}
.red {
    color: red;
    font-size: 12px;
    padding-right: 20px;
    padding-left: 15px;
}
.green {
    color: green;
    font-size: 12px;
    padding-right: 20px;
    padding-left: 15px;
}
.grey {
    color: grey;
    font-size: 12px;
    padding-right: 20px;
    padding-left: 15px;
}
.yellow {
    color: rgb(255, 238, 0);
    font-size: 12px;
    padding-right: 20px;
    padding-left: 15px;
}
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate, .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: #011893 !important; 
}

.mat-card {
    border: 1px solid #011893;
    color: #011893;
    padding-right: 20px;
    padding-left: 20px;
}
.emphasis {
    text-align: center;
    font-size: 15px;
    color: #011893;
}
.centered-subtitle {
    text-align: center;
    font-size: 20px;
    color: #011893;
}
.gallery {
    margin: 20px;
    border: 2px solid #011893;
    float: left;
    width: 250px;
    height: max-content;
}
  
.gallery:hover {
    border: 2px solid #fdcf00;
}

.gallery img {
    width: 100%;
    height: auto;
    display: inline;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.desc {
    font-size: 16px;
    padding: 25px;
    text-align: center;
}
.price {
    font-size: 14px;
    padding-bottom: 15px;
    text-align: center;
}
.stylebuttons {
    margin: auto;
    width: 100%;
    padding-left: 80px;
    padding-right: 80px;
}
.productslist {
    padding-left: 30px;
}