<div class="container">
    <br><br>
    <h1 class="pagetitle">Womens Shoes</h1>
    <mat-divider></mat-divider><br><br>
    <mat-card><p class ="emphasis"><i>Our women's shoes combine the perfect pairing of style and substance. 
        Discover new season designs and colours and shop our latest collection of shoes made for every occasion. 
        With new designs arriving weekly, including enduring classics and on-trend essentials, we've got everyone's 
        needs covered.</i></p></mat-card><br>
    <div class="row">
        <div class="col-sm-2">
            <br><br><br><br><br>
            <h1 class="subtitle">Filters</h1><br>
            <p class="sectiontitle">Size</p>
            <ul class="filter-size" data-columns="3">
                <li><mat-checkbox class="size-checkbox">3</mat-checkbox></li>
                <li><mat-checkbox class="size-checkbox">4</mat-checkbox></li>
                <li><mat-checkbox class="size-checkbox">5</mat-checkbox></li>
                <li><mat-checkbox class="size-checkbox">6</mat-checkbox></li>
                <li><mat-checkbox class="size-checkbox">7</mat-checkbox></li>
                <li><mat-checkbox class="size-checkbox">8</mat-checkbox></li>
            </ul>
            <br><br>
            <p class="sectiontitle">Colour</p>
            <ul class="filter-color">
                <li><mat-checkbox class="color"><span class="material-icons black">circle</span>Black</mat-checkbox></li>
                <li><mat-checkbox class="color"><span class="material-icons white">radio_button_unchecked</span>White</mat-checkbox></li>
                <li><mat-checkbox class="color"><span class="material-icons red">circle</span>Red</mat-checkbox></li>
                <li><mat-checkbox class="color"><span class="material-icons green">circle</span>Green</mat-checkbox></li>
                <li><mat-checkbox class="color"><span class="material-icons grey">circle</span>Grey</mat-checkbox></li>
                <li><mat-checkbox class="color"><span class="material-icons yellow">circle</span>Yellow</mat-checkbox></li>
            </ul>
            
        </div>
        <div class="col-sm-10">
            <p class="centered-subtitle">Styles</p>
            <div class="stylebuttons">
              <mat-chip-list aria-label="Style of Shoes:">
                  <a href="#"><mat-chip>Boots</mat-chip></a>
                  <a href="#"><mat-chip>Trainers</mat-chip></a>
                  <a href="#"><mat-chip>Slippers</mat-chip></a>
                  <a href="#"><mat-chip>Loafers</mat-chip></a>
                  <a href="#"><mat-chip>Brogues</mat-chip></a>
                  <a href="#"><mat-chip>Heels</mat-chip></a>
                  <a href="#"><mat-chip>Wedges</mat-chip></a>
                  <a href="#"><mat-chip>Wide-fit</mat-chip></a>
                  <a href="#"><mat-chip>Flats</mat-chip></a>
                  <a href="#"><mat-chip>Sliders</mat-chip></a>
                </mat-chip-list>
              </div>

              <br><br>

              <div class="productslist">
                <div class="gallery">
                  <a routerLink="/shoe" routerLinkActive="active"><img src="assets/images/womenshoe1.png" alt="Princely Rainbow" width="700" height="500"></a>
                  <div class="desc">Princely Rainbow</div>
                  <div class="price">£59.00</div>
                </div>

                <div class="gallery">
                  <a href=""><img src="assets/images/womenshoe2.png" alt="Britton High Court" width="700" height="500"></a>
                  <div class="desc">Britton High Court</div>
                  <div class="price">£39.00</div>
                </div>

                <div class="gallery">
                  <a href=""><img src="assets/images/womenshoe3.png" alt="Lettie Knit Runners" width="700" height="500"></a>
                  <div class="desc">Lettie Knit Runners</div>
                  <div class="price">£159.00</div>
                </div>

                <div class="gallery">
                  <a href=""><img src="assets/images/womenshoe2.png" alt="Britton High Court" width="700" height="500"></a>
                  <div class="desc">Britton High Court</div>
                  <div class="price">£39.00</div>
                </div>

                <div class="gallery">
                  <a href=""><img src="assets/images/womenshoe3.png" alt="Lettie Knit Runners" width="700" height="500"></a>
                  <div class="desc">Lettie Knit Runners</div>
                  <div class="price">£159.00</div>
                </div>

                <div class="gallery">
                  <a routerLink="/shoe" routerLinkActive="active"><img src="assets/images/womenshoe1.png" alt="Princely Rainbow" width="700" height="500"></a>
                  <div class="desc">Princely Rainbow</div>
                  <div class="price">£59.00</div>
                </div>

                <div class="gallery">
                  <a href=""><img src="assets/images/womenshoe3.png" alt="Lettie Knit Runners" width="700" height="500"></a>
                  <div class="desc">Lettie Knit Runners</div>
                  <div class="price">£159.00</div>
                </div>
                
                <div class="gallery">
                  <a routerLink="/shoe" routerLinkActive="active"><img src="assets/images/womenshoe1.png" alt="Princely Rainbow" width="700" height="500"></a>
                  <div class="desc">Princely Rainbow</div>
                  <div class="price">£59.00</div>
                </div>

                <div class="gallery">
                  <a href=""><img src="assets/images/womenshoe2.png" alt="Britton High Court" width="700" height="500"></a>
                  <div class="desc">Britton High Court</div>
                  <div class="price">£39.00</div>
                </div>

              </div>
        </div>
    </div>
    <br><br><br><br>
</div>