.discountbanner{
    padding: 15px;
    color:  #fdcf00;
    background-color: #011893;
    text-align: center;
    font-size: 25px;
 }
 .carousel-inner img {
    width: 100% !important;
    height: 100% !important;
 }
 .container {
    width: 100%;
 }
 .description {
    padding-left: 20px;
    padding-right: 20px;
 }
 .featurecards {
    border: 2px solid #011893;
    font-family: Lato;
    text-align: center;
    margin-bottom: 25px;
    height: 100%;
 }
 .featurecards:hover {
    border: 5px solid #011893;
 }
 .material-icons {
    color: #fdcf00;
    font-size: 60px;
    height:60px;
    width:60px;
 }
 .headings {
    text-align: center;
    color: #011893;
    font-size: 25px;
 }
 .cardtitle {
    text-align: center;
    color: #011893;
 }
 
 