<mat-card class="discountbanner"><p class="font-weight-light">25% OFF EVERYTHING | USE CODE: <b>SAVE25</b> AT CHECKOUT</p></mat-card>

<br>


<div id="slideshow" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#slideshow" data-slide-to="0" class="active"></li>
      <li data-target="#slideshow" data-slide-to="1" ></li>
      <li data-target="#slideshow" data-slide-to="2"></li>
    </ol>
  
    <div class="carousel-inner">
      <div class="item active">
        <a routerLink="/womens" routerLinkActive="active"><img src="assets/images/slideshow1.jpg" alt="Heels"></a>
      </div>
  
      <div class="item">
        <a routerLink="/womens" routerLinkActive="active"><img src="assets/images/slideshow2.jpg" alt="Boots"></a>
      </div>
  
      <div class="item">
        <a routerLink="/womens" routerLinkActive="active"><img src="assets/images/slideshow3.png" alt="Formal Shoes"></a>
      </div>
    </div>
  
    <a class="left carousel-control" href="#slideshow" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#slideshow" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  <br><br>
  
  <div class="container">
    <div class="row">
      <div class= "headings">
        <p>Our Values</p><br>
        <h4 class ="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
          nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
          labore et dolore magna aliqua.
        </h4>
      </div>
      <div class="col-sm-4">      
        <mat-card class="featurecards">
          <span class="material-icons">handyman</span>
          <h1 class="cardtitle">Handcrafted to perfection</h1>
            <h4>Excepteur sint occaecat cupidatat non proident, 
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
              accusantium doloremque laudantium, totam rem aperiam.
            </h4>
        </mat-card>
      </div>
      <div class="col-sm-4">      
        <mat-card class="featurecards">
          <span class="material-icons">eco</span>
          <h1 class="cardtitle">Saving for our environment</h1>
            <h4>Excepteur sint occaecat cupidatat non proident, 
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
              accusantium doloremque laudantium, totam rem aperiam.
            </h4>
        </mat-card>
      </div>
      <div class="col-sm-4">      
        <mat-card class="featurecards">
          <span class="material-icons">support_agent</span>
          <h1 class="cardtitle">Answers at your fingertips</h1>
            <h4>Excepteur sint occaecat cupidatat non proident, 
              sunt in culpa qui officia deserunt mollit anim id est laborum.
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
              accusantium doloremque laudantium, totam rem aperiam.
            </h4>
        </mat-card>
      </div>
    </div>
  </div>
  
  <br><br><br>